.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
/_site/
VRGL/Stats/_Testing/Power Rating Weights/_Results/desktop.ini
VRGL/Stats/_Testing/Power Rating Weights/_Results/desktop.ini
VRGL/Stats/_Testing/Power Rating Weights/_Results/desktop.ini
VRGL/Stats/_Testing/Power Rating Weights/desktop.ini
VRGL/Stats/Team and Player Stats/Power Ratings/Raw Data/desktop.ini
VRGL/Stats/Team and Player Stats/Power Ratings/Team Ratings/desktop.ini
VRGL/Stats/Team and Player Stats/Power Ratings/Team Ratings/Priors/desktop.ini
VRGL/Stats/Team and Player Stats/Power Ratings/Team Ratings/Inseason/desktop.ini
VRGL/Stats/Team and Player Stats/Power Ratings/Team Ratings/Full Season/desktop.ini
VRGL/Stats/Team and Player Stats/Power Ratings/Team Ratings/desktop.ini
